import streamlit as st
import pdfplumber
import docx
import nltk
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
import os
from dotenv import load_dotenv
import base64
from groq import Groq
import google.generativeai as genai
from PIL import Image
from streamlit_option_menu import option_menu
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import re
import numpy as np
import streamlit.components.v1 as components
from streamlit_lottie import st_lottie
import requests
import json
from io import BytesIO